/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
/src/ResourcesBundle/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
.idea/
.idea/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
/src/ResourcesBundle/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles
/nbproject/*
/nbproject/
/nbproject
/GSB_Symfony.iml
