<div name="gauche" style="clear:left:;float:left;width:18%; background-color:white; height:100%;">
    <div name="coin" style="height:10%;text-align:center;">
        <img src={{ asset('img/logo.jpg') }} width="100" height="60"/>
    </div>
    <div name="menu">
        <h2>Outils</h2>
        <ul>
            <li>Frais</li>
            <ul>
                <li><a href="#">Enregistrer l'opération</a></li>
                <li><a href={{ path('gsb_principal_accueil') }}>Retour à L'accueil</a></li>
            </ul>
        </ul>
    </div>
</div>