{% extends "::base.html.twig" %}

{% block title %}
    Gestion des Frais
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <h1>Welcome to the Principal:gererFrais page</h1>
    {% else %}
        TODO Redirect
    {% endif %}
{% endblock %}