{% extends "@GSB/Default/base.html.twig" %}
{# note : Le premier extends va hériter du template base.html.twig qui contient toutes les méta, les links etc
          C'est un peu le Calque principal sur lequel on incruste du contenu #}
{% block body %}
    <div class="header">
        <div class="row vertical-align">
        <div class="col-md-4">
            {# Conserver uniquement le logo GSB #}
         <h1><img src="{{ asset('img/logo.jpg') }}" class="img-responsive" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin"></h1>
        </div>
        </div>
    </div>

    <br>

    <div class="container" id="fiche" style="border: solid 1px black;">
        <div class="row">
            <div id="ficheHead" class="col" style="border-bottom: solid 1px black;">
                REMBOURSEMENT FRAIS ENGAGES
            </div>

            <br>

            <div id="ficheVisiteur" class="col-md-4">
                Visiteur
            </div>
            <div id="ficheVisiteurMatricule" class="col-md-4">
                TODO : Matricule
            </div>
            <div id="ficheVisiteurMatricule" class="col-md-4">
                TODO : Nom
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">
                Mois
            </div>
            <div class="col-md-4">
                TODO : DATE
            </div>
        </div>

        <br>

        <div id="infosFrais" style="border: solid 1px black;">
            <div class="row">
                <div class="col-md-3">
                    Frais Forfaitaires
                </div>

                <div class="col-md-3">
                    Quantité
                </div>
                <div id="ficheVisiteur" class="col-md-3">
                    Montant unitaire
                </div>

                <div id="ficheVisiteur" class="col-md-3">
                    Total
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="border: solid 1px black;">
                    Nuitée
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="border: solid 1px black;">
                    Repas Midi
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="border: solid 1px black;">
                    Kilométrage
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div class="col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>
        </div>

<br>
    </div>

{% endblock %}