{% extends "@GSB/Default/base.html.twig" %}
{# note : Le premier extends va hériter du template base.html.twig qui contient toutes les méta, les links etc
          C'est un peu le Calque principal sur lequel on incruste du contenu #}
{% block body %}
    <div class="header">
        <div class="row vertical-align">
        <div class="col-md-4">
            {# Conserver uniquement le logo GSB #}
         <h1><img src="{{ asset('img/logo.jpg') }}" class="img-responsive" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin"></h1>
        </div>
        </div>
    </div>

    <br>

    <div id="fiche"  class="container-fluid" style="border: solid 1px black;">
        <div class="row">
            <div id="ficheHead" class="text-center" style="border-bottom: solid 1px black;">
                <b>REMBOURSEMENT FRAIS ENGAGES</b>
            </div>
        </div>


        <div class="=row">
            <br>

            <div id="ficheVisiteur" class="col-xs-4 col-md-4">
                <b>Visiteur</b>
            </div>
            <div id="ficheVisiteurMatricule" class="col-xs-4 col-md-4">
                TODO : Matricule
            </div>
            <div id="ficheVisiteurNom" class="col-xs-4 col-md-4">
                TODO : Nom
            </div>
        </div>


        <br>


        <div id="ficheDate" class="row-fluid">
            <div id="ficheDateTexte" class="col-xs-4 col-md-4">
                <b>Mois</b>
            </div>
            <div id="ficheDateDate" class="col-xs-4 col-md-4">
                TODO : DATE
            </div>
        </div>

        <br><br>

        <div id="infosFrais">
            <div class="row-fluid">
                <div id="colFraisForf" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Frais Forfaitaires
                </div>

                <div id="colQte" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Quantité
                </div>
                <div id="colMu" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Montant unitaire
                </div>

                <div id="colTot" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Total
                </div>
            </div>

            <div class="row-fluid">
                <div id="nuitee" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Nuitée
                </div>

                <div id="nuiteeQte" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div id="nuiteeMu" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div id="nuiteeTot" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>

            <div class="row-fluid">
                <div id="repas" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Repas Midi
                </div>

                <div id="repasQte" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div id="repasMu" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div id="repasTot" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>

            <div class="row-fluid">
                <div id="kilom" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    Kilométrage
                </div>

                <div id="kilomQte" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : QTE
                </div>
                <div id="kilomMu" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : MU
                </div>

                <div id="kilomTot" class="col-xs-3 col-md-3" style="border: solid 1px black;">
                    TODO : Tot
                </div>
            </div>

            <div class="row-fluid" style="border: solid 1px black;">
                <div id="autreFrais" class="col-md-offset-5 col-xs-offset-5 col-xs-7 col-md-7">
                    <br><br>Autre frais
                </div>
            </div>

           // Mettre un foreach pour chaque date à récup
            <div class="=row-fluid" class="col-md-4 col-xs-4">
                <div class="row-fluid">
                    <div id="kilom" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        Date
                    </div>

                    <div id="kilomQte" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        Libelle
                    </div>
                    <div id="kilomMu" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        Montant
                    </div>
                </div>

                <div class="row-fluid">
                    <div id="kilom" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        TODO : DATE
                    </div>

                    <div id="kilomQte" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        TODO : LIBELLE
                    </div>
                    <div id="kilomMu" class="col-xs-4 col-md-4" style="border: solid 1px black;">
                        TODO : MONTANT
                    </div>
                </div>
            </div>


            <div class="row-fluid">
                <div class="col-xs-offset-8 col-md-offset-8 col-xs-2 col-md-2" style="border: solid 1px black; margin-top: 4%; margin-bottom: 2%;">
                    TOTAL TODO:DATE
                </div>
                <div class="col-xs-2 col-md-2" style="border: solid 1px black; margin-top: 4%; margin-bottom: 2%;">
                    TODO : TOTAL
                </div>
            </div>

        </div><br><br>
    </div>

    <div id="lieuSignDate" class="row-fluid">
        <div class="col-xs-offset-8 col-md-offset-8 col-xs-4 col-md-4" style="margin-top: 5%;">
            Fait à LIEU, le DATE <br>
            Vu l'agent comptable <br>
            SIGNATURE
        </div>
    </div>

{% endblock %}