{% extends "base.html.twig" %}

{% block title %} Recupération de tous les utilisateurs{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    {% for visiteur in visiteurs %}
        <p>{{ visiteur.nom }}</p>

    {% endfor %}


{% endblock %}
