{% extends "base.html.twig" %}

{% block title %}MEh{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <h1>MEh</h1>
    <p class="important">
    </p>
{% endblock %}
