{% extends "@GSB/Default/base.html.twig" %}
{% block stylePerso %}
    <style type="text/css">

    </style>
{% endblock %}
{% block body %}
    <body>
    {% include('@GSB/Principal/Comptable/sideBarValidFrais.html.twig') %}
    <div name="droite" style="float:left;width:80%;">
        <div name="haut" style="margin: 2 2 2 2 ;height:10%;float:left;"><h1>Validation des Frais</h1></div>
        <div name="bas" style="margin : 10 2 2 2;clear:left;background-color:EE8844;color:orangered;height:88%;">
            <form name="formValidFrais" method="post" action="enregValidFrais.php">
                <h1> Validation des frais par visiteur </h1>
                <label class="titre">Choisir le visiteur :</label>
                <select style="color: orangered;" id="visiteurSelectionne" class="zone">
                    <option disabled selected value="0">Selectionnez un visiteur</option>

                    {% for user in visiteurs %}
                        <option value={{ user.id }}>{{ user.nom }} - {{ user.prenom }}</option>
                    {% endfor %}
                </select>
                <label class="titre">Mois :</label>

                <select style="color: orangered;" id="selectMoisDispo" class="zone">
                    <option disabled selected value="0">Selectionnez une date</option>

                </select>
                <p class="titre"/>
                <div style="clear:left;"><h2>Frais au forfait </h2></div>
                <table id="tableF" style="color: orangered;" border="1" class="table table-condense">
                    <tr>
                        <th>Repas midi</th>
                        <th>Nuitée</th>
                        <th>Etape</th>
                        <th>Km</th>
                        <th>Situation</th>
                    </tr>
                </table>
                <p class="titre"/>
                <div style="clear:left;"><h2>Hors Forfait</h2></div>


                <table id="tableHF" style="color: orangered;" border="1" class="table table-condense">
                    <tr>
                        <th>Date</th>
                        <th>Libellé</th>
                        <th>Montant</th>
                        <th>Situation</th>
                        <th>Edit</th>
                    </tr>
                </table>
                <p class="titre"></p>
                <div class="titre">Nb Justificatifs</div>
                <input type="text" class="zone" size="4" id="hcMontant" name="hcMontant"/>
                <p class="titre"/><label class="titre">&nbsp;</label>
                <input class="zone" id="btnReset" type="reset"/>
                <input class="zone" id="btnSubmit" type="submit" disabled/>
            </form>
        </div>
    </div>
    </body>
{% endblock %}